<div id="bookList" class="row">
  <section class="carousel-container my-5" v-for="(category, index) in allCategories" :key="index">
    <div class="carousel-header d-flex justify-content-between align-items-center">
      <h4 class="mt-5">{{ category.name }}</h4>
      <a href="#" @click.prevent="emitSelectCategory(category.name)">See All</a>
    </div>
    <div class="card-container">
      <div class="card-wrapper swiper" :ref="'swiper' + index">
        <ul class="card-list swiper-wrapper">
          <li class="card-item swiper-slide" v-for="book in carouselBooksMap[category.name]" @click="showBookDetail(book)">
            <a href="#" class="card-link">
              <img v-bind:src="book.coverImage" alt="Card Image" class="card-image">
              <h2 class="card-title">{{ book.title }}</h2>
            </a>
          </li>
        </ul>
        <!-- 分頁 -->
        <div class="swiper-pagination"></div>
        <!-- 左右箭頭 -->
        <div class="swiper-slide-button swiper-button-prev"></div>
        <div class="swiper-slide-button swiper-button-next"></div>
      </div>
    </div>
  </section>
</div>