<div id="bookList" class="row">
    <div class="mb-2">
        <h4 class="mt-5 text-primary">{{ title }}</h4>
    </div>
    <div class="col-md-4 mb-4" v-for="book in books" :key="book.id" @click="showBookDetail(book)">                            
        <div class="card h-100">
            <img v-bind:src="book.image" class="card-img-top" alt="書籍封面" />
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">分類：{{ book.category }}</p>
                <p class="card-text text-danger">價格：${{ book.price }}</p>
            </div>
        </div>
    </div>
</div>