<div class="wrapper" v-if="visible" @click="$emit('close-click')">
    <!--  登入視窗  -->
    <div v-if="!isRegistering" class="form-box login" @click.stop>
        <span class="close-button" @click="$emit('close-click')">&times;</span>
        <h2>登入</h2>
        <form>
            <div class="input-box">
                <input v-model="username" type="email" placeholder=" " required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <input v-model="password" type="password" placeholder=" " required>
                <label>Passowrd</label>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox">記住我</label>
                <a href="#">忘記密碼?</a>
            </div>
            <button type="submit" class="login-btn">登入</button>

            <div class="login-register">
                <p>沒有帳戶?<a href="#" class=register-link @click.prevent="register()">註冊</a></p>
            </div>
        </form>
    </div>

    <!--  註冊視窗  -->
    <div v-if="isRegistering" class="form-box register" @click.stop>
        <span class="close-button" @click="$emit('close-click')">&times;</span>
        <h2>註冊</h2>
        <form>
            <div class="input-box">
                <input v-model="username" type="text" placeholder="" required>
                <label>User Name</label>
            </div>
            <div class="input-box">
                <input v-model="email" type="email" placeholder="" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <input v-model="password" type="password" placeholder="" required>
                <label>Passowrd</label>
            </div>
            <div class="input-box">
                <input v-model="confirmPassword" type="confirmPassword" placeholder="" required>
                <label>Confirm Password</label>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox"> 我已閱讀並同意 會員條款</label>
            </div>
            <div class="submit-box">
                <button type="submit" class="submit-btn">確認</button>
                <button type="submit" class="submit-btn" @click.prevent="cancel()">取消</button>
            </div>
        </form>
    </div>
</div>