<div class="card mb-5 w-50">
    <div class="card-header text-dark">
        會員基本資料
    </div>
    <div class="card-body">
        <!-- 顯示或編輯狀態切換 -->
        <div v-for="item in memberfields" :key="item.key" class="d-flex justify-content-between align-items-center mb-2">
            <strong>{{ item.label }}：
                <span v-if="!editstatus[item.key]">{{ member[item.key] }}</span>
                <input v-else v-model="member[item.key]" class="form-control d-inline-block" style="width: 300px;"/>
            </strong>
            <!-- 編輯 / 確認按鈕 -->
            <button v-if="!editstatus[item.key]" @click="$emit('start-edit', item.key)" class="btn btn-outline-dark btn-sm">編輯</button>
            <button v-else @click="$emit('confirm-edit', item.key)" class="btn btn-outline-dark btn-sm">確認</button>                                
        </div>
        <button class="btn btn-outline-dark btn-sm">變更密碼</button>
    </div>
</div>