<div class="col-md-2">
    <!-- 側邊欄 -->
    <aside id="sidebar">
        <!-- 導覽列 -->
        <ul class="sidebar-nav p-0">
            <li class="sidebar-header">
            </li>
            <li v-for="(category, index) in categories" :key="index"
                class="list-group-item category" :class="{ active: currentcategory === category.value }">
                <a href="#" class="sidebar-link" @click.prevent="$emit('select-category', category.value)">{{ category.name }}</a>
            </li>
        </ul>
    </aside>
</div>