<div class="col-md-2">
    <!-- 側邊欄 -->
    <aside id="sidebar">
        <!-- 導覽列 -->
        <ul class="sidebar-nav p-0">
            <li class="sidebar-header">
            </li>
            <li v-for="(category, index) in sidebarCategories" :key="index"
                class="list-group-item category" :class="{ active: currentCategory === category.name }">
                <a href="#" class="sidebar-link" @click.prevent="$emit('select-category', category.name)">{{ category.name }}</a>
            </li>
        </ul>
    </aside>
</div>